<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/base.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <main class="main">
        <div class="navigation">
            <a href="/#" class="navigation-logo">
                <img class="navigation-logo__logo" src="{{ asset('images/icon/logo.svg') }}" alt="pizzeria_logo">
            </a>
            <nav class="navigation__menu">
                <li class="navigation__item"><a href="/home" class="navigation__link"><img class="navigation__icon" src="{{ asset('images/icon/navigation/disable/home.svg') }}" alt="">Home</a></li>
                <li class="navigation__item"><a href="/menu" class="navigation__link"><img class="navigation__icon" src="{{ asset('images/icon/navigation/disable/menu.svg') }}" alt="">Menu</a></li>
                <li class="navigation__item"><a href="/history" class="navigation__link"><img class="navigation__icon" src="{{ asset('images/icon/navigation/disable/clock.svg') }}" alt="">History</a></li>
                <li class="navigation__item"><a href="/report" class="navigation__link"><img class="navigation__icon" src="{{ asset('images/icon/navigation/disable/reports.svg') }}" alt="">Reports</a></li>
                    {% if app.user is not null and "ROLE_ADMIN" in app.user.roles|json_encode %}
                        <li class="navigation__item"><a href="/user/list" class="navigation__link"><img class="navigation__icon" src="{{ asset('images/icon/navigation/disable/list.svg') }}" alt="">List</a></li>
                    {% endif %}
                <li class="navigation__item"><a href="/alert" class="navigation__link"><img class="navigation__icon" src="{{ asset('images/icon/navigation/disable/alerts.svg') }}" alt="">Alerts</a></li>
                <li class="navigation__item"><a href="/settings" class="navigation__link"><img class="navigation__icon" src="{{ asset('images/icon/navigation/disable/setting.svg') }}" alt="">Settings</a></li>
            </nav>
            <div class="navigation-user">
                {{ include('temp/_user.twig', sandboxed = true) }}
            </div>
        </div>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </main>

    </body>
</html>

