{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>

    {{ form_errors(userForm) }}

    {{ form_start(userForm) }}
    {{ form_row(userForm.firstName) }}
    {{ form_row(userForm.middleName) }}
    {{ form_row(userForm.lastName) }}
    {{ form_row(userForm.email) }}
    {{ form_row(userForm.address) }}
    {{ form_row(userForm.phone) }}
    {{ form_row(userForm.birthDate) }}
    {{ form_row(userForm.plainPassword, {
        label: 'Password'
    }) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(userForm) }}
{% endblock %}
